<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.CountryMapper">

    <!--Country getAllMovieByStep3(@Param("countryId") Long countryId);-->
    <select id="getAllMovieByStep3" resultType="Country">
        select country_id, `iso_3166_1` as iso, country_name
        from country
        where country_id = #{countryId}
    </select>

    <!--Country getMovieByIdByStep3(@Param("countryId") Long countryId);-->
    <select id="getMovieByIdByStep3" resultType="Country">
        select country_id, `iso_3166_1` as iso, country_name
        from country
        where country_id = #{countryId}
    </select>

</mapper>
