<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.GenreMapper">

    <!--    增加类目-->
    <insert id="addGenre">
        insert into movie(genre_name)
        values(#{genreName});
    </insert>

    <!--Genre getAllMovieByStep3(@Param("genreId") Long genreId);-->
    <select id="getAllMovieByStep3" resultType="Genre">
        select genre_id, genre_name
        from genre
        where genre_id = #{genreId}
    </select>

</mapper>
