<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.MovieMapper">

<!--    增加电影-->
    <insert id="addMovie">
        insert into movie(adult, budget, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, release_date, revenue, runtime, status, tagline, title, video, vote_average, vote_count)
        values(#{adult}, #{budget}, #{homepage}, #{imdbId}, #{origLang}, #{origTitle}, #{overview}, #{popularity}, #{posterPath}, #{releaseDate}, #{revenue}, #{runtime}, #{status}, #{tagline}, #{title}, #{video}, #{voteAverage}, #{voteCount} );
    </insert>


</mapper>