<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.MovieLanguageMapper">

    <!--Page<Map<String, Object>> getMostUsedLanguage(@Param("page") Page<Map<String, Object>> page);-->
    <select id="getMostUsedLanguage" resultType="map">
        SELECT `language_id` as languageId, COUNT(`language_id`) movieNum
        FROM `movie_language`
        GROUP BY `language_id`
        ORDER BY movieNum DESC
    </select>

    <resultMap id="allMovieByStepResultMap" type="MovieLanguage">
        <id column="id" property="id"></id>
        <result column="movie_id" property="movieId"></result>
        <association property="language"
                     select="com.lqyrmk.emovie.mapper.LanguageMapper.getAllMovieByStep3"
                     column="language_id"></association>
    </resultMap>

    <!--List<MovieLanguage> getAllMovieByStep2(@Param("movieId") Long movieId);-->
    <select id="getAllMovieByStep2" resultMap="allMovieByStepResultMap">
        select `id`, `movie_id`, `language_id`
        from movie_language
        where movie_id = #{movieId}
    </select>



</mapper>
