<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.MovieCountryMapper">

    <!--Page<Map<String, Object>> getMostUsedCountry(@Param("page") Page<Map<String, Object>> page);-->
    <select id="getMostUsedCountry" resultType="map">
        SELECT `country_id` as countryId, COUNT(`country_id`) movieNum
        FROM `movie_country`
        GROUP BY `country_id`
        ORDER BY movieNum DESC
    </select>

    <resultMap id="allMovieByStepResultMap" type="MovieCountry">
        <id column="id" property="id"></id>
        <result column="movie_id" property="movieId"></result>
        <association property="country"
                     select="com.lqyrmk.emovie.mapper.CountryMapper.getAllMovieByStep3"
                     column="country_id"></association>
    </resultMap>

    <!--List<MovieCountry> getAllMovieByStep2(@Param("movieId") Long movieId,
                                                    @Param("countryKey") String countryKey);-->
    <select id="getAllMovieByStep2" resultMap="allMovieByStepResultMap">
        select `id`, `movie_id`, `country_id`
        from movie_country
        where movie_id = #{movieId}
    </select>

    <resultMap id="movieByIdByStepResultMap" type="MovieCountry">
        <id column="id" property="id"></id>
        <result column="movie_id" property="movieId"></result>
        <association property="country"
                     select="com.lqyrmk.emovie.mapper.CountryMapper.getMovieByIdByStep3"
                     column="country_id"></association>
    </resultMap>

    <!--List<MovieCountry> getMovieByIdByStep2(@Param("movieId") Long movieId);-->
    <select id="getMovieByIdByStep2" resultMap="movieByIdByStepResultMap">
        select `id`, `movie_id`, `country_id`
        from movie_country
        where movie_id = #{movieId}
    </select>

</mapper>
