<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.emovie.mapper.RatingsMapper">

    <!--    查找评分-->
    <select id="getRatingByUserIdAndMovieId" resultType="com.lqyrmk.emovie.entity.Ratings">
        select * from user
        where user_id = #{userId} and movie_id = #{movieId};
    </select>

    <!--    增加评分-->
    <insert id="addRating">
        insert into ratings(user_id, movie_id, ratings, timestamp)
        values(#{userId}, #{movieId},  #{ratings}, #{timestamp});
    </insert>


</mapper>
